@model UsuarioLogin
@{
    ViewData["Title"] = "Cardápio";
    Layout = "_LayoutTelaInicial";
}

<p>Insira suas credenciais abaixo.</p>

@if(TempData["Erro"] != null){
    <div class="alert alert-danger" role="alert">
  @TempData["Erro"]
</div>
}

<form asp-controller="Login" asp-action="Entrar" method="post">
  <div class="mb-3">
    <label for="Login" class="form-label">Login</label>
    <input type="text" asp-for="Login" class="form-control" id="Login" placeholder="Login">
    <span style="color: red;" asp-validation-for="Login"></span>
  </div>
  <div class="mb-3">
    <label for="Senha" class="form-label">Senha</label>
    <input type="password" asp-for="Senha" class="form-control" id="Senha" placeholder="Senha">
    <span style="color: red;" asp-validation-for="Senha"></span>
</div>
  <button type="submit" class="table-button button-common-style new-button">Confirmar</button>
</form>