html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Estilos personalizados para botões dentro da tabela */
.table-button {
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* Evita quebra de linha dentro dos botões */
}

/* Ajuste da espessura da letra */
.table-button {
    font-weight: normal;
}

/* Estilos para todos os botões */
.button-common-style {
    width: 150px; /* Defina o tamanho desejado para todos os botões */
}

/* Estilos para o botão "Ver Pedido" */
.view-button {
    background-color: #3498db;
    color: #fff;
}

/* Estilos para o botão "Novo Pedido" */
.new-button {
    background-color: #2ecc71;
    color: #fff;
}

/* Estilos para o botão "Remover Pedido" */
.remove-button {
    background-color: #e74c3c;
    color: #fff;
}

/* Estilos para o botão "Fechar Conta" */
.close-button {
    background-color: #f39c12;
    color: #fff;
}

/* Estilos para o botão "Voltar" */
.back-button {
    background-color: #9b59b6; 
    color: #fff;
}

/* Estilos para os botões em hover */
.table-button:hover {
    background-color: #ccc;
    color: #333;
}


/* Css do relatório*/
/* Estilos para o contêiner do relatório */
.report-container {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Define a largura máxima do relatório */
    margin-top: 50px; /* Espaçamento superior */
}

/* Estilos para o título do relatório */
.report-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilos para os dados do relatório */
.report-data {
    font-size: 16px;
    margin-bottom: 20px;
}

    .report-data p {
        margin: 5px 0;
    }

/* Estilos para valores em negrito */
.report-value {
    font-weight: bold;
}


/* Estilo para categoria do cardápio tela inicial */
.bold-category {
    font-weight: bold;
}

.admin-label {
    font-weight: bold; /* Deixa o texto em negrito */
    color: #FF5733; /* Define uma cor diferente, como laranja, para destacar */
}

.user-label {
    font-weight: bold; /* Define o estilo itálico para o texto */
    color: #337AFF; /* Define uma cor diferente, como azul, para destacar */
}