@model List<Produto>
@{
    ViewData["Title"] = "Cardápio";
}

<div class="text-center">
    <h1 class="display-4">Produtos disponíveis</h1>
</div>

 <a class="table-button button-common-style new-button" role="button" asp-controller="Home" asp-action="Index">Voltar</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Categoria</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço unitário</th>          
    </tr>
  </thead>
    @if (Model != null && Model.Any())
    {
        @foreach(Produto produto in Model){
        <tbody>
            <tr>
            <td>@produto.Categoria.NomeCategoria</td>
            <td>@produto.NomeProduto</td>
            <td>@produto.PrecoUnitario</td>                   
            </tr>
        </tbody>
        }
    }
    else
    {   <tr>
        <td colspan="4" style="text-align: center;">
        <span style="color: red;">Nenhum produto foi adicionado até o momento!</span>
        </td>
    </tr>
    }

</table>