@{
     ViewData["Title"] = "Página restrita";
  
}

   <h1 class="text-danger">Acesso negado!</h1>
        <p class="lead">Você não tem permissão para acessar esta página.</p>
        <p class="lead">Entre em contato com o administrador do sistema.</p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Voltar</a>