@model ProdutoOptionValueString

@{
    ViewData["Title"] = "Adicionar produto";
}

<div class="text-center">
    <h1 class="display-6">Preencha os campos necessários para adicionar o produto:</h1>
</div>


<form asp-controller="Produto" asp-action="AdicionarProduto" method="post">
    <input type="hidden" asp-for="IdProduto" value="0" />
  <div class="form-group">
    <label for="nomeProduto">Nome do produto</label>
    <input type="text" asp-for="NomeProduto" class="form-control" id="nomeProduto" placeholder="Nome do produto">
    <span asp-validation-for="NomeProduto"></span>
  </div>

  <div class="form-group">
    <label for="precoproduto">Preço unitário</label>
    <input type="text" asp-for="PrecoUnitario" class="form-control" id="precoproduto" placeholder="Preço do produto" step="0.01">
    <span asp-validation-for="PrecoUnitario"></span>
</div>

 <div class="form-group">
    <label for="categoriaprod">Categoria do produto</label>
    <select asp-for="CategoriaId" class="form-control" id="categoriaprod">
        <option value="" disabled selected>Selecione uma categoria</option>
         <option value="1">Comida</option>
         <option value="2">Cerveja</option>
         <option value="3">Drink</option>
         <option value="4">Cachaça</option>
         <option value="5">Vinho</option>
         <option value="6">Bebidas S/Álcool</option> 
        </select>
    <span asp-validation-for="CategoriaId"></span>
</div>

  <br/>
  <button type="submit" class="table-button button-common-style view-button">Confirmar</button>
  <a asp-action="Index" asp-controller="Produto" class="table-button button-common-style back-button">Voltar</a>
</form>







