@model ProdutoOptionValueString

@{
    ViewData["Title"] = "Editar produto";
}

<div class="text-center">
    <h1 class="display-6">Modifique os campos que deseja alterar:</h1>
</div>
<form asp-controller="Produto" asp-action="EditarProduto" method="post">
    <input type="hidden" asp-for="IdProduto" />
  <div class="form-group">
    <label for="nomeProduto">Nome do produto</label>
    <input type="text" asp-for="NomeProduto" class="form-control" id="nomeProduto" placeholder="Nome do produto">
    <span asp-validation-for="NomeProduto"></span>
  </div>

  <div class="form-group">
    <label for="precoproduto">Preço unitário</label>
    <input type="text" asp-for="PrecoUnitario" class="form-control" id="precoproduto" placeholder="Preço do produto" step="0.01">
    <span asp-validation-for="PrecoUnitario"></span>
</div>

 <div class="form-group">
    <label for="categoriaprod">Categoria do produto</label>
    <select asp-for="CategoriaId" class="form-control" id="categoriaprod">
        <option value="" disabled selected>Selecione uma categoria</option>
        <option value="1">Comida</option> 
        <option value="2">Cerveja</option>    
        <option value="3">Drink</option>    
        <option value="4">Cachaça</option>    
        </select>
    <span asp-validation-for="CategoriaId"></span>
</div>

  <br/>
  <button type="submit" class="table-button button-common-style view-button">Confirmar edição</button>
  <a role="button" class="table-button button-common-style back-button" asp-action="Index" asp-controller="Produto">Voltar</a>
</form>

